/* ==================================
RESET
================================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'sans-serif';
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

/* ==================================
UTILITIES
================================== */
.bg-purple {
    background-color: rgb(102, 0, 255);
}
.c-grey {
    color: grey;
}

.d-flex-x {
    display: flex;
}
.d-flex-y {
    display: flex;
    flex-direction: column;
}
/* ==================================
TOGGLE
================================== */


/* ==================================
HEADER
================================== */
header {
    padding: 20px;
}
.switches {
    margin-left: auto;
}
.header-container {
    flex-wrap: wrap;
    gap: 15px;
}
.plan-intro {
    flex-grow: 1;
    min-width: 300px;
}

/* ==================================
CARDS
================================== */
.plan-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 20px;
}
.plan-title {
    flex-basis: calc((100% - (2 * 20px)) / 3);
    min-width: 250px;
    flex-grow: 1;
    border: 1px solid lightgrey;
    border-radius: 10px;
    box-shadow: 0px 5px 5px 5px lightgray;
    padding: 30px;
}

    /* ==================================
    PRICE
    ================================== */
.plan-price {
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 3px;
    margin-top: 15px;
}
.currency {
    font-weight: 700;
    font-size: 25px;
}
.amount {
    font-weight: 800;
    font-size: 40px;
}
.period {
    color: grey;
}

    /* ==================================
    DISCOUNT
    ================================== */
.plan-discount {
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 3px;
    margin-top: 15px;
}
.discount-rate {
    background-color: lightgray;
    padding: 5px;
    border-radius: 10px;
}

    /* ==================================
    BUTTON
    ================================== */
.cta-btn {
    display: block;
    margin: 0 auto;
    padding: 15px 50px;
    border-radius: 15px;
    width: 80%;
    border: 0px;
    background-color: rgb(102, 0, 255);
    color: white;
    margin: 0 auto 30px auto;
    font-weight: 400;
    font-size: 15px;
    margin-top: 30px;
}

    /* ==================================
    FEATURES
    ================================== */
    .feature-item {
        font-size: 1.1rem;
        margin-bottom: 15px;
        display: flex;
        gap: 15px;
    }
    .feature-item i {
        font-size: 1.3rem;
    }

    /* ==================================
    PRO Plan
    ================================== */
.plan-cards .plan-title:nth-child(2) {
    background-color: rgb(102, 0, 255);
    color: white;
}
.plan-cards .plan-title:nth-child(2) .cta-btn {
    background-color: white;
    color: rgb(102, 0, 255);
}
.plan-cards .plan-title:nth-child(2) .discount-rate {
    color: black;
}
.plan-cards .plan-title:nth-child(2) .period {
    color: white;
}

    /* ==================================
    ULTIMATE WRAP
    ================================== */
.plan-features {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 15px;
}
.feature-item {
    flex-basis: calc(100% / 2) - (10px) / 2;
    min-width: 45%;
    flex-grow: 1;
    max-width: 100%;
}