/* ==================================
RESET
================================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'sans-serif';
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

/* ==================================
UTILITIES
================================== */
.bg-purple {
    background-color: rgb(102, 0, 255);
}
.c-grey {
    color: grey;
}

.d-flex-x {
    display: flex;
}
.d-flex-y {
    display: flex;
    flex-direction: column;
}
/* ==================================
TOGGLE
================================== */


/* ==================================
HEADER
================================== */
header {
    padding: 20px;
}
.switches {
    margin-left: auto;
}
.header-container {
    flex-wrap: wrap;
    gap: 15px;
}
.plan-intro {
    flex-grow: 1;
    min-width: 300px;
}

/* ==================================
CARDS
================================== */
.plan-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.plan-title {
    flex-basis: calc((100% - (2 * 20px)) / 3);
    min-width: 250px;
    flex-grow: 1;
    border: 1px solid gray;
    box-shadow: 5px gray;
    border-radius: 5px;
}